<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>#445</string>
		<key>Key</key>
		<string>selection-bg-color</string>
		<key>Title</key>
		<string>selection-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#dde</string>
		<key>Key</key>
		<string>selection-text-color</string>
		<key>Title</key>
		<string>selection-text-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>"Open Sans", sans-serif</string>
		<key>Key</key>
		<string>body-font</string>
		<key>Password</key>
		<false/>
		<key>Title</key>
		<string>body-font</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#1b1b1d</string>
		<key>Key</key>
		<string>bg-color</string>
		<key>Title</key>
		<string>bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#aaaab6</string>
		<key>Key</key>
		<string>main-text-color</string>
		<key>Password</key>
		<false/>
		<key>Title</key>
		<string>main-text-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#66666c</string>
		<key>Key</key>
		<string>main-faded-text-color</string>
		<key>Title</key>
		<string>main-faded-text-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#445</string>
		<key>Key</key>
		<string>author-highlight-bg-color</string>
		<key>Title</key>
		<string>author-highlight-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#36363f</string>
		<key>Key</key>
		<string>sep-line-color</string>
		<key>Password</key>
		<true/>
		<key>Title</key>
		<string>sep-line-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#222225</string>
		<key>Key</key>
		<string>card-bg-color</string>
		<key>Title</key>
		<string>card-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#1e1e20</string>
		<key>Key</key>
		<string>card-dark-bg-color</string>
		<key>Password</key>
		<false/>
		<key>Title</key>
		<string>card-dark-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#2a2a2d</string>
		<key>Key</key>
		<string>card-light-bg-color</string>
		<key>Password</key>
		<false/>
		<key>Title</key>
		<string>card-light-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#2f2f34</string>
		<key>Key</key>
		<string>card-border-color</string>
		<key>Password</key>
		<false/>
		<key>Title</key>
		<string>card-border-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#2a2a2d</string>
		<key>Key</key>
		<string>card-hover-bg-color</string>
		<key>Title</key>
		<string>card-hover-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#303034</string>
		<key>Key</key>
		<string>card-light-hover-bg-color</string>
		<key>Title</key>
		<string>card-light-hover-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#404044</string>
		<key>Key</key>
		<string>card-light-hover-border-color</string>
		<key>Title</key>
		<string>card-light-hover-border-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#2a2a2e</string>
		<key>Key</key>
		<string>menu-bg-color</string>
		<key>Title</key>
		<string>menu-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#2f2f34</string>
		<key>Key</key>
		<string>menu-hover-bg-color</string>
		<key>Title</key>
		<string>menu-hover-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#36363f</string>
		<key>Key</key>
		<string>menu-border-color</string>
		<key>Title</key>
		<string>menu-border-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#3a3a44</string>
		<key>Key</key>
		<string>menu-light-bg-color</string>
		<key>Title</key>
		<string>menu-light-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#3f3f48</string>
		<key>Key</key>
		<string>menu-light-hover-bg-color</string>
		<key>Title</key>
		<string>menu-light-hover-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#46464f</string>
		<key>Key</key>
		<string>menu-light-active-bg-color</string>
		<key>Title</key>
		<string>menu-light-active-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#46464f</string>
		<key>Key</key>
		<string>menu-light-border-color</string>
		<key>Title</key>
		<string>menu-light-border-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#ddd</string>
		<key>Key</key>
		<string>link-color</string>
		<key>Title</key>
		<string>link-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#fff</string>
		<key>Key</key>
		<string>link-hover-color</string>
		<key>Title</key>
		<string>link-hover-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#171719</string>
		<key>Key</key>
		<string>input-box-bg-color</string>
		<key>Title</key>
		<string>input-box-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#54545a</string>
		<key>Key</key>
		<string>input-checkbox-toggle-bg-color</string>
		<key>Title</key>
		<string>input-checkbox-toggle-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#3a3a44</string>
		<key>Key</key>
		<string>input-checkbox-active-bg-color</string>
		<key>Title</key>
		<string>input-checkbox-active-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>#22222</string>
		<key>Key</key>
		<string>input-checkbox-inactive-bg-color</string>
		<key>Title</key>
		<string>input-checkbox-inactive-bg-color</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1</string>
		<key>Key</key>
		<string>toolbar</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>welcome</string>
		<key>Title</key>
		<string>Display FAQs page on add-on updates</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
