/* myaccounts */

/* in page sign in button */
html.dark .nCP5yc:not(:disabled) {
  background-color: var(--button-bg) !important;
  color: var(--front-color) !important;
}

/* fixed colors */
html.dark .mtfBU,
html.dark .EhlvJf.KKjvXb .iKN8Oe .DPvwYc,
html.dark .EhlvJf.KKjvXb .GiKO7c {
  color: var(--link-color) !important;
}

/* logo */
html.dark .gb_nc .gb_Vc::before {
  filter: invert(1);
}

/* accounts */

/* fixed colors */
html.dark .N3Hzgf .snByac,
html.dark .VmOpGe,
html.dark .RAYh1e {
  background-color: var(--bg-color) !important;
}

/* next button */
html.dark .zZhnYe:not(.RDPZE) {
  background-color: var(--button-bg) !important;
  color: var(--front-color) !important;
}

/* forget email */
html.dark .DRS7Fe button:not(.TrZEUc),
/* create account */
html.dark .t29vte [jsslot] span {
  color: var(--link-color) !important;
}

/* create account */
html.dark a:hover,
html.dark a:visited,
html.dark a[href].uBOgn,
html.dark button[type=button].uBOgn {
  color: var(--link-color) !important;
}

/* Sign in instead */
html.dark .IMH1vc {
  color: var(--link-color) !important;
}

/* forgot password */
html.dark .oG5Srb:not(.RDPZE) {
  color: var(--link-color) !important;
}
