html.dark {
  filter: invert(1) !important;
  background-color: var(--bg-color-inverted) !important;
}

html.dark body {
  color: #555 !important;
  background-color: var(--bg-color) !important;
}
html.dark ::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color);
}

html.dark iframe,
html.dark g-button,
html.dark text-button,
html.dark svg,
html.dark div[class*=__image],
html.dark canvas,
html.dark span.gsri_a, /* speak icon */
html.dark [style*="background:url"],
html.dark [style*="background-image:url"],
html.dark img {
  filter: invert(1);
}

/* google icon */
html.dark .gb_Ve {
  filter: invert(0);
}

/* privacy reminder */
html.dark .rMJIte,
html.dark #promos {
  filter: invert(1);
}
html.dark .gb_Id .gb_nd,
html.dark .gb_Id .gb_kd {
  filter: invert(1);
  color: var(--front-color) !important;
  background-color: var(--button-bg) !important;
}

/* custom colors */
html.dark floating-action-button,
html.dark a[href*="accounts.google"].gb_4 {
  color: var(--front-color) !important;
  background: var(--button-bg) !important;
  border-color: transparent;
}

/* google icon */
.gb_nc .gb_Vc::before {
  filter: invert(1);
}

/* user icon */
html.dark .gbii::before {
  filter: invert(1);
}
html.dark g-flat-button,
html.dark a {
  color: var(--link-color) !important;
}
html.dark g-raised-button {
  background-color: var(--button-bg) !important;
}
html.dark a:visited {
  color: var(--visited-color) !important;
}
html.dark a cite {
  color: var(--link-header-color) !important;
}
html.dark a:visited cite {
  color: var(--link-visited-header-color) !important;
}

/* footer */
html.dark #fbar {
  background-color: var(--bg-light-color) !important;
}
