html.dark .up0e5 {
  filter: invert(1);
}

html.dark .ixImeb .OOX9bc {
  color: var(--link-color) !important;
}
html.dark .WNmljc,
html.dark .ixImeb .JUQOtc {
  fill: var(--link-color-inverted) !important;
  color: var(--link-color) !important;
}

html.dark .WNmljc .NlWrkb .v1262d {
  filter: invert(0);
}

/* logo */
html.dark .uuRyud {
  filter: invert(1);
}

html.dark .xBWvff.eo2Zfd,
html.dark .llhEMd.iWO5td,
html.dark .BpKFdf,
html.dark .E97Rgb,
html.dark .RY3tic,
html.dark .YFqpKc,
html.dark .FLmEnf,
html.dark .gsckL,
html.dark .uNKHZe,
html.dark .ASbIvd,
html.dark .Od6mvf,
html.dark .sRzhMe,
html.dark .ArJR5e,
html.dark .XKNPOc,
html.dark .OSOLHc {
  filter: invert(1);
}

html.dark .uH4Rpd .JUQOtc {
  fill: var(--link-color) !important;
}

html.dark .RmSd1b {
  outline-color: var(--link-color) !important;
}
html.dark .gqI68::before,
html.dark .gqI68::after {
  background-color: var(--link-color) !important;
}
