html.dark span.gs_ico,
html.dark .gs_in_cb input:checked ~ .gs_chk,
html.dark .gs_in_cb.gs_sel .gs_chk,
html.dark div.gs_a,
html.dark button.gs_btn_act {
  filter: invert(1);
}
html.dark span.gs_ctc {
  color: var(--link-color) !important;
  filter: invert(1);
}
html.dark span.gs_lbl {
  color: var(--front-color) !important;
}
