/* fixed colors */
html.dark .KgqTrc.qs41qe .QwCDkd,
html.dark .gws-travel-header__selected-item .gws-travel-header__nav-label,
html.dark .fsapp-more-button .fsapp-option-city-name,
html.dark .uKOpFp4SF2X__card .uKOpFp4SF2X__deal-badge,
html.dark .uKOpFp4SF2X__card .uKOpFp4SF2X__price.uKOpFp4SF2X__deal {
  color: var(--link-color) !important;
}

/* big image */
html.dark .yFOTQd.TbgiRe,
html.dark .soKt7b,
html.dark .StYgtd {
  filter: invert(1);
}
html.dark .FBsWCd,
html.dark .soKt7b h1,
html.dark .StYgtd h1 {
  color: var(--front-color) !important;
  filter: invert(1);
}

html.dark .nT5yJe,
html.dark .QGE0ed {
  color: var(--front-color) !important;
}

/* sign in button */
html.dark .nCP5yc:not(:disabled) {
  color: var(--front-color) !important;
  background: var(--button-bg) !important;
  border-color: transparent;
}

/* logo */
html.dark .gb_nc .gb_Vc::before {
  filter: invert(1);
}

/* sidebar */
html.dark .OXZ8S.qs41qe .KJackd,
html.dark .OXZ8S.qs41qe .KJackd svg,
html.dark .KgqTrc.qs41qe .KJackd {
  fill: var(--link-color) !important;
  color: var(--link-color) !important;
}

/* send feedback */
html.dark .SQtqDc {
  color: var(--link-color) !important;
}
