/* elements with bg image */
html.dark .MrEfLc {
  filter: invert(1);
}

/* more from google button */
html.dark a.NQV3m {
  background-color: var(--button-bg) !important;
  color: var(--front-color) !important;
}

/* fixed colors */
html.dark .EHzcec {
  background-color: var(--bg-color) !important;
}
