html {
  background-color: rgb(22, 22, 22) !important;
}

html, iframe {
  filter: invert(100%) !important;
}

em,
img,
svg,
form,
image,
video,
audio,
embed,
object,
button {
  opacity: 0.8;
  filter: invert(100%) !important;
}

[style*='background:url']:not(html):not(body):not(input),
[style*='background: url']:not(html):not(body):not(input),
[style*='background-image']:not(html):not(body):not(input) {
  opacity: 0.8;
  filter: invert(100%) !important;
}

a[id],
.gh-td,
#gh-la,
.vi-filmstp,
#linkMainImg,
a[data-track],
.vi-VR-btnWdth-XL,
.s-item .NEGATIVE,
a[aria-describedby],
.social-widget .sw a,
.vi-ds3cont-box-marpad,
.mfe-lex .mfe-hotness-badge,
.vi-bboxrev-tbl #binBtn_btn,
.srp-controls--selected-value,
.srp-controls__control--legacy,
.vi-bboxrev-tbl #binBtn_btn_submit {
  filter: invert(100%) !important;
}

::-moz-scrollbar {background: #28292a !important}
::-webkit-scrollbar {background: #28292a !important}
::-moz-scrollbar-track {background: #343637 !important}
::-webkit-scrollbar-track {background: #343637 !important}

::-webkit-scrollbar-thumb {
  background: #4d4e4f !important;
  border-left: 1px solid #343637 !important;
  border-right: 1px solid #343637 !important;
}

::-moz-scrollbar-thumb {
  background: #4d4e4f !important;
  border-left: 1px solid #343637 !important;
  border-right: 1px solid #343637 !important;
}
